<div class="container mt-4">
  <div class="card col-md-6 mx-auto">
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            formControlName="email"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            formControlName="password"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <div class="form-group mt-3">
        <p>Create an Account <a [routerLink]="['/register']"> Register </a></p>
      </div>
    </div>
  </div>
</div>
