<div class="container mt-5">
    <div class="row">
        <div class="text-center col">
            <h1 class="text-primary">Chi ha scritto questa direttiva?</h1>
            <p class="py-5 text-dark fs-2 text-capitalize">{{ name }}</p>
            <input type="text" class="form-control text-capitalize" [(ngModel)]="name">
            <p *ngIf="name ==='bryan' ; else error"> Il nome è giusto!</p>
            <ng-template class="pagination" #error>
                <p class="page-item">Nome non corretto.</p>
            </ng-template>
        </div>
    </div>

    <div class="py-5 row">
        <div class="col">
            <input class="form-control" type="text" [(ngModel)]="utente">
        </div>
        <div class="col">
            <button class=" btn btn-primary" (click)=addUser()>Aggiungi</button>
        </div>
        <div class="col">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let user of users">{{ user }}</li>
            </ul>
        </div>
    </div>


    <div class="row py-5">
        <div class="col">
            <input placeholder="Nome" class="form-control" type="text" #nome>
        </div>
        <div class="col">
            <input placeholder="Cognome" class="form-control" type="text" #cognome>
        </div>
        <div class="col">
            <input placeholder="Città" class="form-control" type="text" #citta>
        </div>
        <div class="col">
            <button class="btn btn-primary"
                (click)="addUserTable(nome.value, cognome.value, citta.value)">Invio</button>
        </div>
    </div>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Cognome</th>
                    <th scope="col">Città</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usersT of userTable; let i= index">
                    <td>{{ i +1 }}</td>
                    <td>{{ usersT.nome }}</td>
                    <td>{{ usersT.cognome }}</td>
                    <td>{{ usersT.citta }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <input class="form-control" type="text" [(ngModel)]="valute">
        <div [ngSwitch]="valute">
            <p *ngSwitchCase="1"> Valore : {{ valute }} esiste </p>
            <p *ngSwitchCase="10"> Valore : {{ valute }} esiste </p>
            <p *ngSwitchCase="100"> Valore : {{ valute }} esiste </p>
            <p *ngSwitchDefault [ngStyle]="{color: valute !== 0 ? 'red':'black'}"> Il valore non esiste </p>
        </div>
    </div>
    <div class="d-flex justify-content-center my-5">
        <label [ngClass]="{active: classe, noActive: !classe}">Lorem ipsum dolor sit amet
            consectetur adipisicing elit.</label>
        <button class="btn btn-primary ms-5" (click)="classe =!classe">Change Color!</button>
    </div>
