<div class="container">
  <h1 class="text-primary mt-4  d-flex justify-content-center">Angular Simple Crud</h1>
  <div class="row mt-4 d-flex">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="card-title d-flex justify-content-center">
            <label class="text-primary display-6"> Insert new dog:</label>
          </div>
          <div class="card-body">
            <div class="form-group">
              <input [(ngModel)]="selectedDog.name" type="text" class="form-control" placeholder="Insert name dog">
            </div>
            <div class="form-group">
              <input [(ngModel)]="selectedDog.typeAnimal" type="text" class="form-control"
                placeholder="Insert type dog">
            </div>
            <div class="form-group">
              <input [(ngModel)]="selectedDog.breed" type="text" class="form-control" placeholder="Insert breed dog">
            </div>
            <button (click)="addOrEdit()" class="btn btn-primary"> Submit </button>
            <button *ngIf="selectedDog.id !== 0" (click)="delete()" class="btn btn-dark"> Delete </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <ul class="list-group">
        <li *ngFor="let dogBreed of dogBreedArray" class="list-group-item" (click)="openForEdit(dogBreed)"
          [class.active]="dogBreed == selectedDog">
          <span class="badge badge-primary">{{ dogBreed.id }}</span>
          {{ dogBreed.name}} - {{ dogBreed.typeAnimal }} - {{ dogBreed.breed }}
        </li>
      </ul>
    </div>
  </div>
</div>